<div class="row">
    <div class="col-lg-4 offset-lg-4">
        <h3 class="titulo">Resultado</h3>
        <div class="row">
            <div class="col-lg-12">
                <div class="fondoItem">
                    <div class="container">
                        <p class="resultado">{{resultado}}</p>
                        <p class="estiloNumero">{{bmi}}</p>
                        <p class="inter">{{interpretacion}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button routerLink = "/" class="btn btn-primary btn-lg btn-block">RE-CALCULAR</button>
                </div>
            </div>
        </div>
    </div>

</div>
